/* Import Shafarik font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shafarik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-family: 'Raleway', sans-serif;  /* Use Raleway for non-article text */
  font-weight: 100;                    /* Thin weight for a modern look */
  line-height: 1.6;
  padding: 20px;
}

/* Fade in animation for main content */
#protectedContent {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Header Styles */
header {
  text-align: left;
  margin-bottom: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Hidden state: header is faded out */
  header.hidden {
    opacity: 0;
  }

header h1 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: 'Shafarik', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-family: 'Shafarik', sans-serif;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #bbb;
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 0;
}

/* Article Styles with Shafarik font for body text */
article {
  background: #111;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: 'Shafarik', sans-serif;
}

article h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

article p {
  margin-bottom: 10px;
}

article a {
  text-decoration: none;
  color: #1e90ff;
  transition: color 0.3s ease;
}

article a:hover {
  color: #63b3ed;
}

article a.read-more {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* ensures a thin, modern look */
  font-size: 1rem;
}

time {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

footer.hidden {
  opacity: 0;
}


/* Responsive Styles for Mobile Devices */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main {
    width: 100%;
    padding: 0 10px;
  }

  article {
    padding: 15px;
  }
}
